.intro__list {
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  max-width: fit-content;
  margin: 33px 0 0 0;
  text-align: start;
  color: #fff;
  list-style: none;
}
