.cover__subtitle {
  margin-block: 0;
  margin-inline: 0;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 32px auto 0;
  max-width: 360px;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}