.lead__title {
  margin-block: 0;
  margin-inline: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  margin: 56px 0 0 0;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .lead__title {
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}