.footer__links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}


@media screen and (max-width: 767px) {
  .footer__links {
    margin: 0;
    flex-direction: column;
  }
}
