.footer__links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .footer__links {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .footer__links {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer__links {
    margin: 0;
    flex-direction: column;
  }
}
