.intro__text {
  margin-block: 0;
  margin-inline: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  max-width: 690px;
  margin: 40px 0 0 0;
  text-align: start;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 100%;
  }
}