.cover__title {
  display: block;
  margin-block: 0;
  margin-inline: 0;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  max-width: 560px;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}